*{
	padding: 0px;
	margin: 0px;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

#navbar{
	position: sticky;
	top:0;
	left:0;
	z-index: 1;
	padding:.5rem 5rem;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
	background: black;


}

.navbar .navbar-brand{
	font-size: 25px;
	font-weight: 800;
	color:#29F700 !important;
}

#navbarSupportedContent a{
	color:white;
	border-bottom: 2px solid transparent;
}

#navbarSupportedContent a:hover{
	border-bottom: 2px solid #29F700;
}

#navbarSupportedContent button{
	background: #29F700;
	width:5rem;
	border-radius: 10px;
}

#navbarSupportedContent button:hover{
	background-color: #1A5D1A;
}

section{
	width:100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#home{
	background: url(images/cover.jpg);
	background-size: cover;
	background-position: center;
	flex-direction: column;

}

#home h1{
	font-size: 100px;
	color:whitesmoke;
	letter-spacing: 3px;
	font-family: verdana;
	text-shadow: 0px 7px 0px #CCC;
}

#home p{
	font-size: 18px;
	color: whitesmoke;
}

#home .input-group{
	width:40%;
	height:45px;
}

.signin{
	background: #29F700 !important;
	color:white;
	box-shadow: 2px 4px 5px rgba(0,0,0,.3);
}

#home button:hover{
	background-color: #1A5D1A !important;
}
#about{
	background: #7C96AB;
}

#about h1{
	color:white;
	font-weight: 800;
	font-size: 50px;
}

.img-fluid{
	height: 250px;
	width:250px;
	margin-left: 50px;
	margin-bottom:50px;
	margin-top: 20px;

}


#about p{
	color:white;
}

#product {
	background: #e5e5e5;
}

#product h1{
	font-size: 50px;
	font-weight: 700;
	letter-spacing: 2px;
}

#product img{
	width:200px;
	height:200px;
}

#product .btn:hover{
	background-color: #1A5D1A !important;
}
.card {
	width:250px;
	height:250px;
	border:none !important;
	background: #e5e5e5;
	box-shadow: 15px 20px 20px rgba(0,0,0,.3),
	            inset 4px 4px 10px white;

	justify-content: center;
	align-items: center;
	margin: 20px 60px;

}

.card:hover{
	box-shadow: inset 5px 5px 10px rgba(0,0,0,.3),
	             inset -4px -4px white;
	    transition:0.2s;
}

#contact img{
	object-fit: : cover;
	object-position: center;
	margin-left: -40px;
	width:100%;
	
	
}

#contact h1{
	margin-left: 30px;
}

form {
	display: flex;
	margin-left: 30px;
	flex-direction: column;
}

#contact input{
	margin:10px 0px;
}

#contact textarea{
	margin: 10px 0px;
}

#contact button:hover{
	background-color: #1A5D1A !important;
}

footer{
	background-color: #222831;
	color:white;
	padding:.25em 1em;
}

#copyright{
	text-align: center;
}

.social-menu ul{
    display: flex;
    padding:0;
    justify-content: center;
}

.social-menu ul li{
    list-style: none;
    display:inline-block;
    margin: 0 15px;
}

.social-menu ul li .fab{
    font-size: 25px;
    line-height: 40px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}
    
.social-menu ul li a:hover{
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: #4267B2;
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #E4405F;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: #00ACEE;
}

